@import "codemirror/lib/codemirror.css";
@import "codemirror/theme/mdn-like.css";

.fileEdit {
  padding: 100%;
  background: whitesmoke;
  min-width: 80vw;
  min-height: 60vh;

  > div {
    &:last-child {
      display: flex;

      button {
        padding: 5px 10px;
        border: none;
        cursor: pointer;


        &.cancel__button {
          margin-left: auto;
          background: #ff9696;
        }

        &.save__button {
          background: #9696ff;
        }
      }
    }
  }
}


.CodeMirror {
  border-radius: 3px;
  border: 1px solid gray;
}