@import "right-m";
@import "contextMenu";
@import "editor";
@import "mediaView";
@import "admin";

.main {
  display: grid;
  grid-template-columns: 3fr 1fr 12fr 1fr;
}

.left-m {
  text-align: center;
  height: 100vh;

  > progress {
    margin: auto;
    display: block;
  }
}